
{% extends 'admin_panel/adminpage.html' %}



{% block content %}


<br>
{% for i in data %}

<div class="card card_products" style="width: 18rem; float: left; margin-left: 10px; margin-top: 20px;" >
    <img class="card-img-top card_image" src="{{i.img.url}}" alt="Card image cap">
    <div class="card-body card_discription">
      <h5 class="card-title">{{i.model}}</h5>
      <p class="card-text">{{i.description}}</p>
      <p class="card-text">{{i.price}}</p>
      <a href="delete_product/{{i.id}}"><button class="btn btn-danger">Delete</button></a>
    </div>
  </div>
  {% endfor %}
  

<br><br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}


