<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">

    <div class="container-fluid" style="background-color: black; position: fixed; padding-top: 30px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">GADGET STORE</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'images/applenew.PNG' %}"
                style="width: 20px;" alt=""></a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              iphone
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">iphone 13 pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 13 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 13</a></li>
              <li><a class="dropdown-item" href="#">iphone 13 mini</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">iphone 12 pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 12 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 12 </a></li>
              <li><a class="dropdown-item" href="#">iphone 11pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 11 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 11 </a></li>
              <li><a class="dropdown-item" href="#">iphone xs</a></li>
              <li><a class="dropdown-item" href="#">iphone x</a></li>
              <li><a class="dropdown-item" href="#">iphone 8 plus</a></li>
              <li><a class="dropdown-item" href="#">iphone 8</a></li>
              <li><a class="dropdown-item" href="#">iphone 7 plus </a></li>
              <li><a class="dropdown-item" href="#">iphone 7</a></li>
              <li><a class="dropdown-item" href="#">iphone 6s plus</a></li>
              <li><a class="dropdown-item" href="#">iphone 6s</a></li>
              <li><a class="dropdown-item" href="#">iphone 6</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ipad
            </a>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item" href="#">ipad pro</a></li>
              <li><a class="dropdown-item" href="#">ipad mini</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">ipad air</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              airpods
            </a>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item" href="#">airpods pro</a></li>
              <li><a class="dropdown-item" href="#">....</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">.... </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              watch
            </a>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item" href="#">Apple watch series 7</a></li>
              <li><a class="dropdown-item" href="#">Apple watch series 6</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">Apple watch series 5</a></li>
              <li><a class="dropdown-item" href="#">Apple watch series SE</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              mac
            </a>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item" href="#">mac book pro 13</a></li>
              <li><a class="dropdown-item" href="#">mac book m2</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">mac book m1</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>

      </div>
    </div>
  </nav>


















  

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
    <div class="container-fluid" style="background-color: black;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">iphone 13 pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 13 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 13</a></li>
              <li><a class="dropdown-item" href="#">iphone 13 mini</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">iphone 12 pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 12 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 12 </a></li>
              <li><a class="dropdown-item" href="#">iphone 11pro max</a></li>
              <li><a class="dropdown-item" href="#">iphone 11 pro</a></li>
              <li><a class="dropdown-item" href="#">iphone 11 </a></li>
              <li><a class="dropdown-item" href="#">iphone xs</a></li>
              <li><a class="dropdown-item" href="#">iphone x</a></li>
              <li><a class="dropdown-item" href="#">iphone 8 plus</a></li>
              <li><a class="dropdown-item" href="#">iphone 8</a></li>
              <li><a class="dropdown-item" href="#">iphone 7 plus </a></li>
              <li><a class="dropdown-item" href="#">iphone 7</a></li>
              <li><a class="dropdown-item" href="#">iphone 6s plus</a></li>
              <li><a class="dropdown-item" href="#">iphone 6s</a></li>
              <li><a class="dropdown-item" href="#">iphone 6</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
